body {
    margin:auto;
    background: #FCCDA3;
    font-family: 'Roboto', 'Helvetica Nue', sans-serif;
}
header {
    width: 576px;
    height: 130px;
    margin: auto;
}
h1 {
    margin: auto;
    text-align: center;
    font-size: 50px;
    padding-top: 40px;
}
.stressed-vowel {
    color: #D62323;
}
.description {
    background: #FFFFFF;
    width: 576px;
    margin:16px auto 37px;
    padding: 0.1px;
    border-radius: 10px;
}
.text-description {
    font-size: 34px;
    text-align: center; 
    margin: 30px;
}
.btn {
    width: 576px;
    margin: auto;
    text-align: center;
}
.btn-begin {
    margin:auto;
    width: 300px;
    height: 150px;
    border: none;
    border-radius: 10px;
    font-size: 50px;
    font-weight: bold;
    box-shadow: 0px 15px 15px #999;   
}
.btn-begin:active {
  box-shadow: 0px 5px 5px #999;
  transform: translateY(5px);
}
.scores {
    width: 300px;
    height: 120px;
    background-color: #FCFF7C;
    margin: auto;
    text-align: center;
    font-size: 75px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    padding-top: 23px;
}
.card {
    width: 650px;
    height: 120px;
    background-color: #FFFFFF;
    margin: auto;
    margin-top: 49px;
    text-align: center;
    font-size: 75px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    padding-top: 23px;
}
.control-buttons {
    display: flex;
    width: 700px;
    margin:auto;
    margin-top: 50px;
}